<!-- <link rel="stylesheet" href="/css/views.css"> -->

<% if(locals.user){ %> 
    <%= user.name %>
    <a href="/users/profile/<%=user.id%>">user profile</a>
    <a href="/users/signout">signout</a>
<%}else{%> 
    <a href="/users/signin">sign-in</a>
    <a href="/users/signup">sign-up</a>
<%}%>

<a href="/posts/postwall">PostWall</a>

<section>
    <h4>Friends</h4>
    <ul>
        <% for(u of all_users){ %>
            <li>
                <h3><%=u.name %></h3>
                <a href="/users/profile/<%=u.id%>"><%= u.name%> profile</a>
            </li>
        <%}%>
    </ul>
</section>