<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title  %>
    </title>
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/sideBar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
</head>
<body>
    <%- include('_header'); %>

    <main id="main-layout">
        <%- include('_sideBar'); %>
        <div id="main-cont">
            <%- body %>
        </div>
    </main>

    <%- include('_footer'); %>
    <%- script %>

    <script>
        <% if( flash.info && flash.info.length >0){%>
            new Noty({
                type: 'info',
                layout: 'topRight',
                theme: 'nest',
                timeout: 4000,
                text: '<%= flash.info %>',
            }).show();
        <%}%>

        <% if( flash.success && flash.success.length >0){%>
            new Noty({
                type: 'success',
                layout: 'topRight',
                theme: 'nest',
                timeout: 4000,
                text: '<%= flash.success %>',
            }).show();
        <%}%>

        <% if(flash.error && flash.error.length >0){%>
            new Noty({
                type: 'error',
                layout: 'topRight',
                theme: 'nest',
                timeout: 4000,
                text: '<%= flash.error %>',
            }).show();
        <%}%>


    </script>
</body>
</html>