<h4>this is postwall page content</h4>

<section>
    <% if(locals.user){ %>
        <h4>Post something ...</h4>
        <form action="/posts/createPost" method="post" >
            <textarea name="content" id="post-text" placeholder="say something" cols="30" rows="10"></textarea>
            <input type="submit" value="POST">
        </form>
    <%} %>

    <h3>POSTS</h3>
    <ul>
        <% for(post of locals.posted){ %>
            <li>
                <div>
                    <p><%= post.content %></p>
                    <p><%= post.user.name %></p>
                </div>
                <div>
                    <% if(locals.user){ %>
                        <form action="/posts/comments/createComment" method="post" >
                            <textarea name="content" id="comment-text" placeholder="comment something" cols="30" rows="3"></textarea>
                            <input type="hidden" name="post" value="<%= post._id %>">
                            <input type="submit" value="Comment">
                        </form>
                    <%}%>

                    <p>Comments</p>
                    <ul>
                        <% for(comment of post.comments){ %>
                           <p><%= comment.user.name %> - <%= comment.content %></p>
                        <% } %>
                    </ul>

                </div>
            </li>
        <% } %>    
    </ul>
</section>